*{
    padding: 0;
    margin: 0;
    
}

body{
    /* background: url(BBJ_log.png) no-repeat; */
    background-size: cover;
    align-items: center; 
    justify-content: center;
    display: flex;
    font-family: sans-serif;

}

.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: #141414;
}
.containerL{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #677a4d; 
    border-radius: 5px;
}
.Login{
    padding: 20px 40px;

}
.Login .font{
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}
.Login .font1{
    margin-top: 30px;
}
.Login input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}

.Login button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: hsl(125, 36%, 45%);
    border-radius: 3px;
    transition: .5s;
}

.Login #email_error,
.Login #password_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #C62828;
  
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}