/* body */
*{
	padding: 0;
	margin: 0;
}
body{
   
    background-size: cover;
    align-items: center; 
    justify-content: center;
    display: flex;
    font-family: sans-serif;

}
h1{
    position: relative;
    margin: 30px;
}
 h2, h3, p {
    padding: 0;
    margin: 20;
}
a {
    text-decoration: none;
}

.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #677a4d;
    border-radius: 5px;
}
.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: #111010;
}
.Register{
    
    padding: 20px 40px;

}
.RegistrationForm input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}
.RegistrationForm button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: hsl(125, 36%, 45%);
    border-radius: 3px;
    transition: .5s;
}
.RegistrationForm button:hover{
    background: hsl(125, 84%, 22%);
}

